<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="centered">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1 id = "title">AI Mechanic Chatbot</h1>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
 
    <div id="newEventDiv" class="centered">
      <h1>Hey there! What question do you have about your car?</h1>
      <main>
        <form method='POST'>
            <label>
                
                <input type="text" name="prompt">
            </label>
            <input type="submit" class="submit" value="Ask">
            
        </form>
              <p>{{ output }}</p>
      {% if newOutput %}
        <p>You entered: {{ newOutput }}</p>
    {% endif %}
      </main>

    </div>
    <footer>
      
    </footer>
  </body>
</div>
  
</html>
